
body{
background-image:url("/home/Sem6B10/Downloads/Curveball-Newtons-Cradle-Animated-GIF.gif");
background-attatchment:scroll;
}
h1{
color:maroon;
margin-left:40px;
}
p{color:blue; margin-left:40px;}
